.phone
    position: absolute
    transform: translate(-50%, -50%)
    top: 50%
    left: 50%
    width: 100%
    height: 100%
    max-width:  calc(100svh * (8 / 12))
    max-height: calc(100svw * (12 / 8))
    overflow: hidden
    user-select: none
    cursor: pointer

.ui
    height: 100%
    flex-direction: column
    background-image: url("../../public/wood.jpg")
    background-color: hsla(0deg, 50%, 2%, 85%)
    background-blend-mode: overlay

.top
    aspect-ratio: 4/1
    color: white
    .bot
        display: flex
        height: 80%
        .face
            height: 80%
            margin: 3.5%
            border: 0.5svh solid white
            border-radius: 1svh
            img
                height: 100%
                border-radius: 1svh
        .dialog
            flex-grow: 1
            font-size: 1.8svh
            background-color: hsla(0deg, 0%, 100%, 10%)
            border-radius: 1.5svh
            margin: 2svh
            margin-bottom: 1svh
            padding: 2svh
        .spin
            height: 60%
            margin-top: 1.4%
            animation: rotate 1s linear infinite, hue 20s linear infinite
    .triangle
        position: absolute
        left: 16.3svh
        top: 0.5svh
        color: hsla(0deg, 0%, 100%, 10%)
        font-size: 8svh


.bottom
    aspect-ratio: 4/1

.board
    aspect-ratio: 1/1
    background-image: url("../../public/wood.jpg")
    display: grid
    grid-template-columns: repeat(8, 1fr)
    grid-template-rows:    repeat(8, 1fr)

.newgame
    background-color: black
    aspect-ratio: 1/1
    padding: 5%

    .title
        height: calc(10%)
        display: flex
        font-size: 4svh
        color: white
        text-transform: uppercase
        div:first-child
            flex-grow: 1
        div:last-child
            color: hsl(0deg, 0%, 30%)

    .option
        height: calc(22%)
        margin-top: 5%
        display: flex
        background-color: hsl(0deg, 0%, 10%)
        .face
            height: 100%
            aspect-ratio: 1/1
            img
                image-rendering: pixelated;
                height: 80%
                padding: 10%
        .info
            flex-grow: 1
            color: white
            padding: 4% 2%
            .name
                font-size: 3svh
                span
                    font-size: 1.8svh
                    color: brown
                    margin-left: 2vh
            .desc
                margin-top: 2%
                font-size: 1.7svh
                color: hsl(0deg, 0%, 60%)


.cell
    background-repeat: no-repeat
    background-size: contain
    background-position: center

.cell.dark
    background-color: hsla(0deg, 40%, 15%, 50%)

.cell.selected
    background-color: hsla(170deg, 60%, 60%, 50%)

.cell.selected.dark
    background-color: hsla(170deg, 60%, 35%, 50%) !important

.PAWN1
    background-image: url("../../public/pieces/pawn1.svg")

.PAWN2
    background-image: url("../../public/pieces/pawn2.svg")

.ROOK1
    background-image: url("../../public/pieces/rook1.svg")

.ROOK2
    background-image: url("../../public/pieces/rook2.svg")

.KNIGHT1
    background-image: url("../../public/pieces/knight1.svg")

.KNIGHT2
    background-image: url("../../public/pieces/knight2.svg")

.BISHOP1
    background-image: url("../../public/pieces/bishop1.svg")

.BISHOP2
    background-image: url("../../public/pieces/bishop2.svg")

.QUEEN1
    background-image: url("../../public/pieces/queen1.svg")

.QUEEN2
    background-image: url("../../public/pieces/queen2.svg")

.KING1
    background-image: url("../../public/pieces/king1.svg")

.KING2
    background-image: url("../../public/pieces/king2.svg")

.bottom .mode
    height: 100%
    display: flex
    align-items: center
    text-align: center

.bottom .mode div
    flex: 1

.bottom img
    width: 5svh
    filter: brightness(50%)

.bottom .text
    color: hsl(0deg, 0%, 50%)
    font-size: 2svh

.bottom .mode.categories
    background-color: hsl(0deg, 0%, 100%)

.bottom .mode.categories img
    filter: brightness(0%)

.bottom .mode.categories .text
    color: hsl(0deg, 0%, 0%)


@keyframes rotate
    from
        transform: rotate(0deg)
    to
        transform: rotate(360deg)

@keyframes hue
    from
        filter: hue-rotate(160deg)
    to
        filter: hue-rotate(520deg)
