.phone
    position: absolute
    transform: translate(-50%, -50%)
    top: 50%
    left: 50%
    width: 100%
    height: 100%
    max-width:  calc(100svh * (8 / 12))
    max-height: calc(100svw * (12 / 8))
    overflow: hidden
    user-select: none
    cursor: pointer

.ui
    height: 100%
    flex-direction: column
    background-image: url("/wood.jpg")
    background-color: hsla(0deg, 50%, 2%, 85%)
    background-blend-mode: overlay

.top
    // flex: 1
    aspect-ratio: 4/1
    font-size: 2svh
    color: white

.bottom
    aspect-ratio: 4/1

.board
    aspect-ratio: 1/1
    background-image: url("/wood.jpg")
    display: grid
    grid-template-columns: repeat(8, 1fr)
    grid-template-rows:    repeat(8, 1fr)

.cell
    background-repeat: no-repeat
    background-size: contain
    background-position: center

.cell.dark
    background-color: hsla(0deg, 40%, 15%, 50%)

.cell.selected
    background-color: hsla(40deg, 60%, 60%, 50%)

.cell.selected.dark
    background-color: hsla(40deg, 60%, 35%, 50%) !important

.PAWN1
    background-image: url("/pieces/pawn1.svg")

.PAWN2
    background-image: url("/pieces/pawn2.svg")

.ROOK1
    background-image: url("/pieces/rook1.svg")

.ROOK2
    background-image: url("/pieces/rook2.svg")

.KNIGHT1
    background-image: url("/pieces/knight1.svg")

.KNIGHT2
    background-image: url("/pieces/knight2.svg")

.BISHOP1
    background-image: url("/pieces/bishop1.svg")

.BISHOP2
    background-image: url("/pieces/bishop2.svg")

.QUEEN1
    background-image: url("/pieces/queen1.svg")

.QUEEN2
    background-image: url("/pieces/queen2.svg")

.KING1
    background-image: url("/pieces/king1.svg")

.KING2
    background-image: url("/pieces/king2.svg")

.bottom .mode
    height: 100%
    display: flex
    align-items: center
    text-align: center

.bottom .mode div
    flex: 1

.bottom img
    width: 5svh
    filter: brightness(50%)

.bottom .text
    color: hsl(0deg, 0%, 50%)
    font-size: 2svh

.bottom .mode.categories
    background-color: hsl(0deg, 0%, 100%)

.bottom .mode.categories img
    filter: brightness(0%)

.bottom .mode.categories .text
    color: hsl(0deg, 0%, 0%)
