<main class='phone'>
  <div class='ui'>
    <div class='top'>
      Black: Brojedrez engine <br/>
      White:
    </div>
    <div class='board'>
      <div
        class='cell'
        *ngFor='let i of indexes'
        [ngClass]='cellStyle(i)'
        (click)='cellOnClick(i)'
        >
      </div>
    </div>
    <div class='bottom'>
      <!-- <div class='mode'>
        <div class='grid'>
          <div><img class='selected' src='/icons/swords.svg'/></div>
          <div><img src='/icons/fast-rewind.svg'/></div>
          <div><img src='/icons/menu.svg'/></div>
          <div><img src='/icons/edit-square.svg'/></div>
        </div>
      </div> -->

      <div class='mode play' *ngIf='mode=="play"'>
        <div (click)='mode="categories"'>
          <img src='/icons/menu.svg'/>
          <div class='text'>Settings</div>
        </div>
        <div (click)='init()'>
          <img src='/icons/add.svg'/>
          <div class='text'>New game</div>
        </div>
        <div (click)='undo()'>
          <img src='/icons/chevron-left.svg'/>
          <div class='text'>Back</div>
        </div>
        <div (click)='redo()'>
          <img src='/icons/chevron-right.svg'/>
          <div class='text'>Forward</div>
        </div>
      </div>

      <div class='mode categories' *ngIf='mode=="categories"'>
        <div (click)='mode="play"'>
          <img src='/icons/pawn.svg'/>
          <div class='text'>Play</div>
        </div>
        <div>
          <img src='/icons/edit-square.svg'/>
          <div class='text'>Edit mode</div>
        </div>
        <div>
          <img src='/icons/save.svg'/>
          <div class='text'>Load/Save</div>
        </div>
        <div>
          <img src='/icons/info.svg'/>
          <div class='text'>Info</div>
        </div>

      </div>
    </div>
  </div>
</main>

<router-outlet />
