name: Build with Zig

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: checkout
      uses: actions/checkout@v4

    - name: install zig
      uses: https://codeberg.org/mlugg/setup-zig@v2
      with:
        version: 0.14.0

    - name: build engine
      run: |
        cd engine
        zig build --release=fast
