name: Deploy

on:
  workflow_dispatch:

permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: checkout
      uses: actions/checkout@v4

    - name: install zig
      uses: mlugg/setup-zig@v1
      with:
        version: 0.14.0

    - name: build engine
      run: |
        cd engine
        zig build --release=fast

    - name: install node
      uses: actions/setup-node@v4
      with:
        node-version: '20'

    - name: install gui dependencies
      run: |
        cd gui
        npm ci

    - name: build gui
      run: |
        cd gui
        npx ng build

    - name: setup pages
      uses: actions/configure-pages@v4

    - name: upload static
      uses: actions/upload-pages-artifact@v3
      with:
        path: './gui/dist/chess/browser'

    - name: deploy pages
      id: deployment
      uses: actions/deploy-pages@v4
